In [43]:
import pandas as pd
path = '/Users/sanjayagrawal/Downloads/'
finalcopy = pd.read_csv(path + 'final_new.1csv.csv')
finalcopy.head(65)

    order_id                                           products
0         17                 13107  21463  38777  47766  21709
1         34  16083  39475  47766  43504  2596  21137  47792...
2        137     24852  38689  23794  41787  25890  2326  5134
3        182  9337  5479  39275  13629  47672  32109  11520 ...
4        257  24852  49235  37646  27966  27104  29837  3947...
5        313  45007  12779  46906  21903  30391  28535  1319...
6        353                 35561  40688  33000  48183  21137
7        386  24852  47766  45066  39180  42265  38281  1587...
8        414  20392  21230  27845  33320  20564  21709  4472...
9        418     47766  40268  30489  5262  13702  41950  4605
10       437  13176  27966  4589  47209  16797  1463  365  1...
11       452  36735  13176  13166  27966  40386  36606  2866...
12       474                                              None
13       492  24852  44632  21137  43086  26604  46667  2891...
14       497                         31964  1831  39947  27275
15       513                                              None
16       517  24852  21903  37646  48679  13198  8424  9387 ...
17       604   12099  24852  13176  19660  16797  31720  24838
18       680     30441  7743  14836  30353  27275  47977  7693
19       758                                        19660  651
20       759  5612  24852  39527  47766  14651  6770  16959 ...
21       887  24852  41290  25647  39758  28204  28593  2210...
22      1161                 47626  22935  44142  26209  31506
23      1195                   None   13870  2707  47626  22275
24      1304  24852  14218  22035  23909  42585  17122  4226...
25      1408  46676  16428  10163  47912  1158  43352  2091 ...
26      1513                         29373  5385  26250  16556
27      1564                                              None
28      1727                               12218  40310  28710
29      1789                                              None
..       ...                                                ...
35      1962                               21873  34148  14715
36      2034  47209  47626  13944  26209  18465  33527  1595...
37      2070            24852  39322  5535  19986  47144  9076
38      2102                                 45004  8571  5769
39      2184          26914  47209  29447  13176  12020  20380
40      2247  11422  13176  33198  18234  44359  7419  31717...
41      2267                                      38569  46088
42      2297                                              None
43      2345  37141  13176  42803  32689  16282  4920  46807...
44      2421  5015  24799  6400  10753  2592  28985  28465  ...
45      2481  28373  24852  30795  47196  27573  36651  2328...
46      2671  13176  47626  21903  25466  47209  30850  2113...
47      2721  21137  33129  24852  43772  45  43814  21903  ...
48      2806                        10957  19953  47031  38511
49      2887  45123  24852  8518  41950  8123  13249  13819 ...
50      2990          39475  42265  32734  27845  28204  13176
51      3013  48220  38312  31635  34358  42803  47766  1868...
52      3188   21137  13176  26856  49235  38988  16757  36076
53      3221  27966  30142  30391  21903  4945  9825  49235 ...
54      3223  24852  14702  28745  11777  36011  34668  3039...
55      3265                  24852  27020  5884  15258  35914
56      3344  33000  41277  16953  29345  444  32637  13966 ...
57      3373                                None   45154  33754
58      3384    33802  5258  39947  41177  40691  39409  13176
59      3408  5479  13176  21267  21137  47626  43352  45066...
60      3507                                         None 42450
61      3519                                              None
62      3587  15424  11885  40332  13176  13287  27985  1061...
63      3702                  47185  28571  27845  12131  9465
64      3724   10235  12174  47144  23410  35601  30960  28931

[65 rows x 2 columns]

In [47]:
finalcopy['products'] = finalcopy['products'].map(lambda x : x.replace(',',"").replace('None ',""))
finalcopy['products'] = finalcopy['products'].fillna('None')
print (finalcopy.shape)
finalcopy.head(65)

(75000, 2)

    order_id                                           products
0         17                 13107  21463  38777  47766  21709
1         34  16083  39475  47766  43504  2596  21137  47792...
2        137     24852  38689  23794  41787  25890  2326  5134
3        182  9337  5479  39275  13629  47672  32109  11520 ...
4        257  24852  49235  37646  27966  27104  29837  3947...
5        313  45007  12779  46906  21903  30391  28535  1319...
6        353                 35561  40688  33000  48183  21137
7        386  24852  47766  45066  39180  42265  38281  1587...
8        414  20392  21230  27845  33320  20564  21709  4472...
9        418     47766  40268  30489  5262  13702  41950  4605
10       437  13176  27966  4589  47209  16797  1463  365  1...
11       452  36735  13176  13166  27966  40386  36606  2866...
12       474
13       492  24852  44632  21137  43086  26604  46667  2891...
14       497                         31964  1831  39947  27275
15       513
16       517  24852  21903  37646  48679  13198  8424  9387 ...
17       604   12099  24852  13176  19660  16797  31720  24838
18       680     30441  7743  14836  30353  27275  47977  7693
19       758                                        19660  651
20       759  5612  24852  39527  47766  14651  6770  16959 ...
21       887  24852  41290  25647  39758  28204  28593  2210...
22      1161                 47626  22935  44142  26209  31506
23      1195                          13870  2707  47626  22275
24      1304  24852  14218  22035  23909  42585  17122  4226...
25      1408  46676  16428  10163  47912  1158  43352  2091 ...
26      1513                         29373  5385  26250  16556
27      1564
28      1727                               12218  40310  28710
29      1789
..       ...                                                ...
35      1962                               21873  34148  14715
36      2034  47209  47626  13944  26209  18465  33527  1595...
37      2070            24852  39322  5535  19986  47144  9076
38      2102                                 45004  8571  5769
39      2184          26914  47209  29447  13176  12020  20380
40      2247  11422  13176  33198  18234  44359  7419  31717...
41      2267                                      38569  46088
42      2297
43      2345  37141  13176  42803  32689  16282  4920  46807...
44      2421  5015  24799  6400  10753  2592  28985  28465  ...
45      2481  28373  24852  30795  47196  27573  36651  2328...
46      2671  13176  47626  21903  25466  47209  30850  2113...
47      2721  21137  33129  24852  43772  45  43814  21903  ...
48      2806                        10957  19953  47031  38511
49      2887  45123  24852  8518  41950  8123  13249  13819 ...
50      2990          39475  42265  32734  27845  28204  13176
51      3013  48220  38312  31635  34358  42803  47766  1868...
52      3188   21137  13176  26856  49235  38988  16757  36076
53      3221  27966  30142  30391  21903  4945  9825  49235 ...
54      3223  24852  14702  28745  11777  36011  34668  3039...
55      3265                  24852  27020  5884  15258  35914
56      3344  33000  41277  16953  29345  444  32637  13966 ...
57      3373                                       45154  33754
58      3384    33802  5258  39947  41177  40691  39409  13176
59      3408  5479  13176  21267  21137  47626  43352  45066...
60      3507                                              42450
61      3519
62      3587  15424  11885  40332  13176  13287  27985  1061...
63      3702                  47185  28571  27845  12131  9465
64      3724   10235  12174  47144  23410  35601  30960  28931

[65 rows x 2 columns]

In [48]:
finalcopy.to_csv(path + 'final_new_withoutNone.csv', index=False)

In [14]:
import numpy as np
import pandas as pd
import matplotlib.pylab as plt
from datetime import datetime

In [15]:
path = '/Users/sanjayagrawal/Downloads/'
data1 = pd.read_csv(path + 'instacart_data.csv', nrows=1000)
products = list(data1['product_id'].unique())
data1.shape

(4833292, 3)

In [16]:
data_prod = data1.groupby(['order_id'])['product_id'].apply(list).reset_index()
data_pred = data1.groupby(['order_id'])['prediction'].apply(list).reset_index()
data = data_prod.merge(data_pred, on='order_id', how = 'inner')
data.head(2)

,order_id,product_id,prediction
0,17,"[39928, 16965, 40002, 39275, 47766, 44056, 217...","[0.0806836172535, 0.111482181301, 0.0939183378..."
1,34,"[21137, 13176, 46979, 7559, 47792, 10132, 9597...","[0.309392346921, 0.225332739418, 0.07662861823..."

In [17]:
data['tuple1'] = data.apply(lambda x : list(zip(x['product_id'], x['prediction'])), axis=1)
data['dict1'] = data['tuple1'].map(lambda x : {i[0]:i[1] for i in x})
data.head(2)

,order_id,product_id,prediction,tuple1,dict1
0,17,"[39928, 16965, 40002, 39275, 47766, 44056, 217...","[0.0806836172535, 0.111482181301, 0.0939183378...","[(39928, 0.0806836172535), (16965, 0.111482181...","{39928: 0.0806836172535, 16965: 0.111482181301..."
1,34,"[21137, 13176, 46979, 7559, 47792, 10132, 9597...","[0.309392346921, 0.225332739418, 0.07662861823...","[(21137, 0.309392346921), (13176, 0.2253327394...","{21137: 0.309392346921, 13176: 0.225332739418,..."

In [18]:
class F1Optimizer():
    def __init__(self):
        pass

    @staticmethod
    def get_expectations(P, pNone=None):
        expectations = []
        P = np.sort(P)[::-1]

        n = np.array(P).shape[0]
        DP_C = np.zeros((n + 2, n + 1))
        if pNone is None:
            pNone = (1.0 - P).prod()

        DP_C[0][0] = 1.0
        for j in range(1, n):
            DP_C[0][j] = (1.0 - P[j - 1]) * DP_C[0, j - 1]

        for i in range(1, n + 1):
            DP_C[i, i] = DP_C[i - 1, i - 1] * P[i - 1]
            for j in range(i + 1, n + 1):
                DP_C[i, j] = P[j - 1] * DP_C[i - 1, j - 1] + (1.0 - P[j - 1]) * DP_C[i, j - 1]

        DP_S = np.zeros((2 * n + 1,))
        DP_SNone = np.zeros((2 * n + 1,))
        for i in range(1, 2 * n + 1):
            DP_S[i] = 1. / (1. * i)
            DP_SNone[i] = 1. / (1. * i + 1)
        for k in range(n + 1)[::-1]:
            f1 = 0
            f1None = 0
            for k1 in range(n + 1):
                f1 += 2 * k1 * DP_C[k1][k] * DP_S[k + k1]
                f1None += 2 * k1 * DP_C[k1][k] * DP_SNone[k + k1]
            for i in range(1, 2 * k - 1):
                DP_S[i] = (1 - P[k - 1]) * DP_S[i] + P[k - 1] * DP_S[i + 1]
                DP_SNone[i] = (1 - P[k - 1]) * DP_SNone[i] + P[k - 1] * DP_SNone[i + 1]
            expectations.append([f1None + 2 * pNone / (2 + k), f1])

        return np.array(expectations[::-1]).T

    @staticmethod
    def maximize_expectation(P, pNone=None):
        expectations = F1Optimizer.get_expectations(P, pNone)

        ix_max = np.unravel_index(expectations.argmax(), expectations.shape)
        max_f1 = expectations[ix_max]

        predNone = True if ix_max[0] == 0 else False
        best_k = ix_max[1]

        return best_k, predNone, max_f1

    @staticmethod
    def _F1(tp, fp, fn):
        return 2 * tp / (2 * tp + fp + fn)

    @staticmethod
    def _Fbeta(tp, fp, fn, beta=1.0):
        beta_squared = beta ** 2
        return (1.0 + beta_squared) * tp / ((1.0 + beta_squared) * tp + fp + beta_squared * fn)


def print_best_prediction(Probs, pNone=None):
#     print("Maximize F1-Expectation")
#     print("=" * 23)
#     print (Probs)
#     P = np.sort(P)[::-1]
#     n = P.shape[0]
#     L = ['L{}'.format(i + 1) for i in range(n)]
    k = sorted([(o,s) for o,s in Probs.items()], key = lambda x : x[1], reverse = True)
    L = [off for off, score in k]
    P = [score for off, score in k]
    n = len(L)
    P = np.array(P)

    if pNone is None:
#         print("Estimate p(None|x) as (1-p_1)*(1-p_2)*...*(1-p_n)")
        pNone = (1.0 - P).prod()

    PL = ['p({}|x)={}'.format(l, p) for l, p in zip(L, P)]
#     print("Posteriors: {} (n={})".format(PL, n))
#     print("p(None|x)={}".format(pNone))

    opt = F1Optimizer.maximize_expectation(P, pNone)
    best_prediction = ['None'] if opt[1] else []
    best_prediction += (L[:opt[0]])
    f1_max = opt[2]

#     print("Prediction {} yields best E[F1] of {}\n".format(best_prediction, f1_max))
    return best_prediction

if __name__ == '__main__':
    
    data['products'] = data.dict1.map(print_best_prediction)
    
#     probs = {"A":0.15, "B":0.1, "C":0.2, "D":0.5}
#     print_best_prediction(probs)

In [13]:
data = data[['order_id', 'products']]
data.head(50)
# data.to_csv(path + 'final.csv', index=False)

    order_id       products
0       4353         [None]
1       6645         [None]
2       8876         [None]
3       9391         [None]
4       9427         [None]
5      13715         [None]
6      18967         [None]
7      20750         [None]
8      26778         [None]
9      27373        [35419]
10     35823         [None]
11     39065         [None]
12     39195         [None]
13     39872         [None]
14     41790         [None]
15     42316         [None]
16     43407         [None]
17     46569         [None]
18     50295         [None]
19     52336         [None]
20     56078         [None]
21     56157         [None]
22     60060         [None]
23     65432         [None]
24     66220         [None]
25     67424         [None]
26     76188         [None]
27     78270         [None]
28     82437         [None]
29     84768  [None, 35419]
30     89844         [None]
31     92189         [None]
32     96554         [None]
33     97645         [None]
34    100447         [None]
35    101974         [None]
36    108251         [None]
37    109440         [None]
38    110195         [None]
39    120547         [None]
40    124001  [None, 17330]
41    124938         [None]
42    127144         [None]
43    129863         [None]
44    132587         [None]
45    142694         [None]
46    142726         [None]
47    145531         [None]
48    146188         [None]
49    147253         [None]